// Flattastic Pro Color Palette, by Erigon.
// URL address: http://drbl.in/iwTA

$aqua-primary-color:            #3bafda;
$aqua-secondary-color:          #4fc1e9;
$grass-primary-color:           #8cc152;
$grass-secondary-color:         #a0d468;
$lavander-primary-color:        #967adc;
$lavander-secondary-color:      #ac92ec;
$grapefruit-primary-color:      #da4453;
$grapefruit-secondary-color:    #ed5565;
$medium-gray-primary-color:     #ccd1d9;
$medium-gray-secondary-color:   #aab2bd;