// Source Sans Pro.
$source-sans-pro-font: 'Source Sans Pro';

/* Regular */

@font-face {
    font-family: $source-sans-pro-font;
    src: url('/content/font/source_sans_pro/SourceSansPro-Regular.eot');
    src: url('/content/font/source_sans_pro/SourceSansPro-Regular.eot?#iefix')                  format('embedded-opentype'),
         url('/content/font/source_sans_pro/SourceSansPro-Regular.woff2')                       format('woff2'),
         url('/content/font/source_sans_pro/SourceSansPro-Regular.woff')                        format('woff'),
         url('/content/font/source_sans_pro/SourceSansPro-Regular.ttf')                         format('truetype'),
         url('/content/font/source_sans_pro/SourceSansPro-Regular.svg#source_sans_proregular')  format('svg');
    font-style: normal;
    font-weight: normal;
}

/* Extra-Light */

@font-face {
    font-family: $source-sans-pro-font;
    src: url('/content/font/source_sans_pro/extra-light/SourceSansPro-ExtraLight.eot');
    src: url('/content/font/source_sans_pro/extra-light/SourceSansPro-ExtraLight.eot?#iefix')                    format('embedded-opentype'),
         url('/content/font/source_sans_pro/extra-light/SourceSansPro-ExtraLight.woff2')                         format('woff2'),
         url('/content/font/source_sans_pro/extra-light/SourceSansPro-ExtraLight.woff')                          format('woff'),
         url('/content/font/source_sans_pro/extra-light/SourceSansPro-ExtraLight.ttf')                           format('truetype'),
         url('/content/font/source_sans_pro/extra-light/SourceSansPro-ExtraLight.svg#source_sans_proextralight') format('svg');
    font-style: normal;
    font-weight: 200;
}

/* Light */

@font-face {
    font-family: $source-sans-pro-font;
    src: url('/content/font/source_sans_pro/light/SourceSansPro-Light.eot');
    src: url('/content/font/source_sans_pro/light/SourceSansPro-Light.eot?#iefix')                  format('embedded-opentype'),
         url('/content/font/source_sans_pro/light/SourceSansPro-Light.woff2')                       format('woff2'),
         url('/content/font/source_sans_pro/light/SourceSansPro-Light.woff')                        format('woff'),
         url('/content/font/source_sans_pro/light/SourceSansPro-Light.ttf')                         format('truetype'),
         url('/content/font/source_sans_pro/light/SourceSansPro-Light.svg#source_sans_prolight')    format('svg');
    font-style: normal;
    font-weight: 300;
}

/* Semi-Bold */

@font-face {
    font-family: $source-sans-pro-font;
    src: url('/content/font/source_sans_pro/semi-bold/SourceSansPro-Semibold.eot');
    src: url('/content/font/source_sans_pro/semi-bold/SourceSansPro-Semibold.eot?#iefix')                  format('embedded-opentype'),
         url('/content/font/source_sans_pro/semi-bold/SourceSansPro-Semibold.woff2')                       format('woff2'),
         url('/content/font/source_sans_pro/semi-bold/SourceSansPro-Semibold.woff')                        format('woff'),
         url('/content/font/source_sans_pro/semi-bold/SourceSansPro-Semibold.ttf')                         format('truetype'),
         url('/content/font/source_sans_pro/semi-bold/SourceSansPro-Semibold.svg#source_sans_prosemibold') format('svg');
    font-style: normal;
    font-weight: 600;
}

/* Bold */

@font-face {
    font-family: $source-sans-pro-font;
    src: url('/content/font/source_sans_pro/bold/SourceSansPro-Bold.eot');
    src: url('/content/font/source_sans_pro/bold/SourceSansPro-Bold.eot?#iefix')                format('embedded-opentype'),
         url('/content/font/source_sans_pro/bold/SourceSansPro-Bold.woff2')                     format('woff2'),
         url('/content/font/source_sans_pro/bold/SourceSansPro-Bold.woff')                      format('woff'),
         url('/content/font/source_sans_pro/bold/SourceSansPro-Bold.ttf')                       format('truetype'),
         url('/content/font/source_sans_pro/bold/SourceSansPro-Bold.svg#source_sans_probold')   format('svg');
    font-style: normal;
    font-weight: 700;
}

/* Black */

@font-face {
    font-family: $source-sans-pro-font;
    src: url('/content/font/source_sans_pro/black/SourceSansPro-Black.eot');
    src: url('/content/font/source_sans_pro/black/SourceSansPro-Black.eot?#iefix')                  format('embedded-opentype'),
         url('/content/font/source_sans_pro/black/SourceSansPro-Black.woff2')                       format('woff2'),
         url('/content/font/source_sans_pro/black/SourceSansPro-Black.woff')                        format('woff'),
         url('/content/font/source_sans_pro/black/SourceSansPro-Black.ttf')                         format('truetype'),
         url('/content/font/source_sans_pro/black/SourceSansPro-Black.svg#source_sans_problack')    format('svg');
    font-style: normal;
    font-weight: 900;
}