header.l-header
    div.full-background-fixed.l-header-background
    div.l-header-wrapper
        div.container
            h1(ng-i18next="contact.contactMe")
            p.description(ng-i18next="contact.youHaveQuestions")

section.l-section.form-section
    header
        h2 Formulaire de contact
    section.form-content
        form 
            fieldset
                label(ng-i18next="contact.form.name")
                p
                    input#name(type="text" size="36")
                    span.field-information 3 caractères minimum et 40 caractères maximum.
                    
                label(ng-i18next="contact.form.email")
                p  
                    input#email(type="email" size="64" aria_required="true" placeholder="Obligatoire")
                    span.field-information 255 caractères maximum. Exemple: email@example.com
                    
                label(ng-i18next="contact.form.subject")
                p
                    input#subject(type="text" size="64" aria_required="true")
                    span.field-information 255 caractères maximum. Exemple: email@example.com

                label(ng-i18next="contact.form.message")
                p
                    textarea#message