@charset "utf-8";

/* Compass. */
@import "compass/css3";

/* Tools. */
@import "tools/_brandcolors";
@import "tools/_colors";
@import "tools/_fonts";
@import "tools/_variables";

.nav-item-contact {
    border-color: #fff !important;
    cursor: default;
    
    &:hover, &:focus {
        background: none;   
    }
}

.l-header {
    height: 50rem;
}

.l-header-background {
    background: $grass-primary-color;
    z-index: 1;
}

.l-header-wrapper {
    color: #fff;
    display: table;
    height: inherit;
    position: fixed;
    width: 100%;
    z-index: 2;

    .container {
        height: auto;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 80%;

        h1 {
            display: inline-block;

            .my-name {
                border: 1px solid #fff;
                color: #fff;
                padding: 0 3rem;
                text-transform: uppercase;
                @include transition(all 250ms);
            }
        }

        .description {
            font-size: 3.58rem;
            font-weight: 300;
            margin: 0 0 3rem;
        }
    }
}

.l-section {
    z-index: 2;
    
    header {
        h2 {
            text-transform: uppercase;
        }

        p.subtitle {
            background: $base-foreground-color;
            color: $base-background-color;
            display: inline-block;
            font-size: 3rem;
            font-weight: 200;
            padding: 1rem 2rem;
        }
    }
}

.map-section {
    height: 50rem;
    position: relative;
    width: 100%;
}

.form-section {
    form {
        margin: 0 auto;
        width: 800px;
        
        input {
            display: block;
            margin: 0 auto;
    
            &:active, &:focus {
                border-color: $grass-primary-color;
            }
        }
        
        input:active + .field-information,
        input:focus + .field-information, {
            transform: scaleY(1);
            height: auto;
        }
        
        .field-information {
            display: inline-block;
            background: $grass-primary-color;
            color: #fff;
            padding: 1rem 2rem;
            position: relative;
            top: 10px;
            transform: scaleY(0);
            transform-origin: 50% 0;
            height: 0;
            transition:transform 200ms ease;
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: -10px;
                width: 0;
                height: 0;
                margin-left: -10px;
                border-color: transparent $grass-primary-color transparent transparent;
                border-style: solid;
                border-width: 10px;
            }
        }
    }
}