*               text=auto
.gitattributes  text
.gitignore      text
*.css           text
*.html          text diff=html
*.jade          linguist-language=Jade
*.js            text
*.json          text
*.md            text 
*.markdown      text 
*.sass          text
*.scss          text
*.ts            linguist-language=TypeScript

*.bmp          binary
*.gif          binary
*.ico          binary
*.jpg          binary
*.jpeg         binary
*.png          binary 