// Colors.
// Flattastic Pro Color Palette.
$aqua-primary-color:            #3bafda;
$aqua-secondary-color:          #4fc1e9;
$grass-primary-color:           #8cc152;
$grass-secondary-color:         #a0d468;
$bittersweet-primary-color:     #e9573f;
$bittersweet-secondary-color:   #fc6e51;
$lavander-primary-color:        #967adc;
$lavander-secondary-color:      #ac92ec;
$grapefruit-primary-color:      #da4453;
$grapefruit-secondary-color:    #ed5565;
$darkgray-primary-color:        #434a54;
$darkgray-secondary-color:      #656d78;
$lightgray-primary-color:       #e6e9ed;
$lightgray-secondary-color:     #f5f7fa;

// Stream Status.
$error-color:       #f04747;
$pause-color:       #ebaf3c;
$running-color:     #38b87c;

// Specific colors.
$base-background-color:     #e6e6e6;
$base-foreground-color:     #444545;