section#experiences.l-section.l-section--about
	header.l-section__header.l-section--about__header
		.icon
			span.icon__content.ion-ios-flask-outline
		h2(data-ng-i18next="view.about.experience.title")
		p.subtitle(data-ng-i18next="view.about.experience.subtitle")
		
	section.l-section__sub_section
		#cd-timeline.cd-container
			.cd-timeline-block(data-ng-repeat="company in companies | orderBy: 'period.start':true")
				.cd-timeline-img
					span(data-ng-bind="company.period.end | date:'yyyy'")
				.cd-timeline-content
					header
						h3(data-ng-bind="company.name")
					section
						p(data-ng-bind="company.summary[language]")
					footer
						.post-tag
							span de
							time(datetime="{{company.period.start}}" data-ng-bind="company.period.start | date:'MMMM yyyy'")
							span(data-ng-hide="!company.period.end") à
							time(data-ng-hide="!company.period.end" datetime="{{company.period.end}}" data-ng-bind="company.period.end | date:'MMMM yyyy'")
