section.l-section.l-section--about
	nav.l-section__nav
		ul
			li
				a(href="#education" data-du-smooth-scroll data-ng-i18next="[title]view.about.education.title")
					.icon
						i.icon__content.ion-ios-bookmarks-outline
					span(data-ng-i18next="view.about.education.title")
			li
				a(href="#experience" data-du-smooth-scroll data-ng-i18next="[title]view.about.experience.title")
					.icon
						i.icon__content.ion-ios-flask-outline
					span(data-ng-i18next="view.about.experience.title")
			li
				a(href="#skills" data-du-smooth-scroll data-ng-i18next="[title]view.about.skills.title")
					.icon
						i.icon__content.ion-ios-speedometer-outline
					span(data-ng-i18next="view.about.skills.title")
			li
				a(href="#hobbies" data-du-smooth-scroll data-ng-i18next="[title]view.about.hobbies.title")
					.icon
						i.icon__content.ion-ios-americanfootball-outline
					span(data-ng-i18next="view.about.hobbies.title")
