section#skills.l-section.l-section--about
	header.l-section__header.l-section--about__header
		.icon
			span.icon__content.ion-ios-speedometer-outline
		h2(data-ng-i18next="view.about.skills.title")
		p.subtitle(data-ng-i18next="view.about.skills.subtitle")
	section.l-section__sub_section(data-ng-repeat="skillCategory in skills")
		h3(data-ng-bind="skillCategory.name[language]")
		.skill(data-ng-repeat="skill in skillCategory.values")
			.skill__name(data-ng-bind="skill")
