section.l-section.l-section--about
	header.l-section__header.l-section--about__header
		h2(data-ng-i18next="view.about.skills.title")
		p.subtitle(data-ng-i18next="view.about.skills.subtitle")
	section.l-section__sub_section
