input:focus {
    outline: 0;
}

input,
textarea {
    @include box-shadow(content-box)
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
    @include box-shadow(border-box)
}

input[type=search] {
    @include appearance(textfield);
    @include box-sizing(content-box);
}

::-webkit-search-decoration {
    display: none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    overflow: visible;
    width: auto;
}

::-webkit-file-upload-button {
    background: none;
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

select[multiple] {
    vertical-align: top;
}
