@import 'family/bebas_neue';

// Source Sans Pro.
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");

// Typography.
$source-sans-pro-font:  'Source Sans Pro';

// Families sets.
$font-family-sans-serif:    $source-sans-pro-font, sans-serif   !default;
$font-family-serif:         Times                               !default;
$base-font-family:          $font-family-sans-serif             !default;