header.l-header
    div.l-header-wrapper
        div.container
            h1(ng-i18next="about.about")
            p.description(ng-i18next="about.find_who_am_i")
            
            
section.l-section
    header
        h2 Présentation
        p.subtitle laissez-moi me présenter
        
section.l-section
    header
        h2 Formations
        
section.l-section
    header
        h2 Expériences Professionnelles

section.l-section
    header
        h2 Compétences techniques
