header.l-header
    div.l-header-wrapper
        div.container
            h1(ng-i18next="contact.contact_me")
            p.description(ng-i18next="contact.you_have_questions")

section.l-section.map-section
    header
        h2(ng-i18next="contact.find_me")
        p.subtitle Découvrez où je réside actuellement
    section
        div#map
    
section.l-section.form-section
    header
        h2(ng-i18next="contact.form.title")
        p.subtitle Compléter les champs ci-dessous

    section.form-content
        form 
            p(ng-i18next="contact.form.description")
            fieldset
                div.row
                    div.col-xs-6
                        label(ng-i18next="contact.form.firstname")
                        p
                            input(ng-model="form.firstname" type="text" size="36")
                            span.field-information 3 caractères minimum et 40 caractères maximum.
                    div.col-xs-6
                        label(ng-i18next="contact.form.lastname")
                        p
                            input(ng-model="form.lastname" type="text" size="36")
                            span.field-information 3 caractères minimum et 40 caractères maximum.
            
                label(ng-i18next="contact.form.email")
                span.input-required *
                p  
                    input(ng-model="form.emailAddress" type="email" size="64" aria_required="true")
                    span.field-information 255 caractères maximum. Exemple: email@example.com
                    
            fieldset
                label(ng-i18next="contact.form.subject")
                span.input-required *
                p
                    input(type="text" size="64" aria_required="true")
                    span.field-information 255 caractères maximum.

                label(ng-i18next="contact.form.message")
                span.input-required *
                p
                    textarea#message(ng-model="form.message" rows="1" maxlength="5000")
                    
            fieldset
                button(type="submit" ng-i18next="contact.form.send_my_message")