// Base font size for device.
$base-font-size:                62.5%;
$desktop-base-font-size:        50%;
$tablets-base-font-size:        45%;
$small-tablets-base-font-size:  40%;
$mobile-base-font-size:         35%;

// Font sizes for elements.
$body-font-size:    1.5rem                  !default;
$h1-font-size:      $base-font-size * 10    !default;
$h2-font-size:      $base-font-size * 6     !default;
$h3-font-size:      $base-font-size * 3     !default;
$h4-font-size:      $base-font-size * 2     !default;
$h5-font-size:      $base-font-size * 1.5   !default;
$h6-font-size:      $base-font-size         !default;