$smaller-smartphone-min-width-breakpoint:   "min-width: 320px";
$smartphone-min-width-breakpoint:           "min-width: 480px";
$tablet-min-width-breakpoint:               "min-width: 768px";
$desktop-min-width-breakpoint:              "min-width: 992px";
$wide-screens-min-width-breakpoint:         "min-width: 1281px";
