.l-article {
    padding: 4em 2em;
    position: relative;
    text-align: center;
    z-index: 2;
    
    &:nth-child(even) { background: inherit }
    
    &:nth-child(odd) {
        background: #f3f3f3;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}