.l-nav {
    background: none;
    border: none;
    margin: 0 auto;
    position: absolute;
    top: 5rem;
    width: 80%;
            
    .navbar-collapse {
        ul {
            display: table;
            float: none !important;
            margin: 0 auto;
            text-align: center;

            &:hover, &:focus {
                li {
                    a { opacity: 0.3 }
                }
            }

            li {
                margin: 0 1rem;
                width: 14rem;

                &:hover, &:focus {
                    a {
                        border-color: #fff;
                        opacity: 1;
                    }
                }

                a {
                    border-color: transparent;
                    @include transition(all 150ms);

                    &:link, &:visited { color: #fff }

                    &:active {
                        background: #fff !important;
                        color: #000 !important;
                    }
                    
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}