.l-nav {
    left: 0;
    padding: 5rem;
    position: absolute;
    right: 0;
    z-index: 5;

    &-items {
        margin: 0 auto;
        text-align: center;

        &:hover, &:focus {
            li > a { opacity: 0.3 }
        }

        li {
            display: inline-block;
            width: 15rem;

            &:hover, &:focus {
                a {
                    border-color: #fff;
                    opacity: 1;
                }
            }

            a {
                border-color: transparent;
                padding: ($base-margin * 2) 0;
                text-align: center;
                @include transition(all 150ms);
                width: inherit;

                &:link, &:visited { color: #fff }
                &:active { background: #fff; color: #000 }

                span { display: block }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .l-nav {
        &-items {
            li {
                width: 10rem;
            }
        }
    }
}