view-title(data-ng-i18next="view.about.meta.title")
meta(data-view-head data-ng-i18next="[content]view.about.meta.description" name="description")

header.l-header.l-header--about(data-full-height-window role="banner" itemscope itemtype="http://schema.org/WPHeader")
	.l-header__wrapper.l-header--about__wrapper
		.l-header__wrapper__background.l-header--about__wrapper__background
		.l-header__wrapper__content.l-header--about__wrapper__content
			h1(data-ng-i18next="view.about.get_know_me")
			p.l-header__wrapper__content__subtitle.l-header--about__wrapper__content__subtitle(data-ng-i18next="view.about.through_various_information")

include ./part/about/education.jade
include ./part/about/experience.jade
include ./part/about/skills.jade
