// The MIT License (MIT)
// 
// Copyright (c) 2015 Cyril Schumacher.fr
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

header.l-header.no-selection(data-ng-init="init()")
    div.l-header-wrapper(data-ng-fade-by-scroll data-percentage="25" data-element=".l-header-wrapper .container")
        div.container
            h1(data-view-title data-ng-i18next="about.about")
            p.description(data-ng-i18next="about.find_who_am_i")

article.l-article
    header
        h2(data-ng-i18next="about.presentation")
        p.subtitle(data-ng-i18next="about.let_me_introduce_myself")
    section.l-section.l-section-presentation
        div.presentation
            div.presentation-photo
                p
                    img(alt="{{profile.photo.title}}" src="{{profile.photo.url}}")
            div.presentation-description
                p.text-justify(data-ng-bind="profile.description")

article.l-article
    header
        h2(data-ng-i18next="about.education.title")
        p.subtitle(data-ng-i18next="about.education.subtitle")
    section.l-section.l-section-education.timeline(data-ng-hide="!schools")
        div.timeline-block(data-ng-repeat="school in schools | orderBy:'period.start': true")
            div.timeline-block-icon(itemscope itemtype="http://schema.org/School")
                div.icon
                    time.vertical-horizontal-center(datetime="{{school.period.start}}") {{school.period.start | date:'yyyy'}}
            div.timeline-block-content
                h3(itemprop="name" data-ng-bind="school.name")
                ul.formation-degrees(itemprop="description")
                    li(data-ng-repeat="degree in school.degrees" data-ng-bind="degree")

article.l-article
    header
        h2(data-ng-i18next="about.experience.title")
        p.subtitle(data-ng-i18next="about.experience.subtitle")
    section.l-section.l-section-experience(data-ng-hide="!experiences")
        div.experience(data-ng-repeat="experience in experiences | orderBy:'period.end': true")
            div.company
                ul(itemscope itemtype="http://schema.org/Corporation")
                    li
                        div.company-properties
                            div.company-properties-icon.vertical-horizontal-center
                                i.fa.fa-building-o
                            div.company-properties-information.vertical-horizontal-center
                                span(itemprop="name" data-ng-bind="experience.name")
                    li
                        div.company-properties
                            div.company-properties-icon.vertical-horizontal-center
                                    i.fa.fa-location-arrow
                            div.company-properties-information.vertical-horizontal-center
                                div(itemprop="address")
                                    span(itemprop="addressLocality") {{experience.company.location.address.city}}, 
                                    span(itemprop="addressRegion") {{experience.company.location.address.countryRegion}}
                    li
                        div.company-properties
                            div.company-properties-icon.vertical-horizontal-center
                                i.fa.fa-calendar
                            div.company-properties-information.vertical-horizontal-center
                                time(datetime="{{experience.period.start}}") {{experience.period.start | date:'MMMM yyyy'}}
                                span.separator -
                                time(datetime="{{experience.period.end}}") {{experience.period.end | date:'MMMM yyyy'}}
            div.experience-information
                h3 {{experience.job}}
                ul.keywords
                    li.keyword(data-ng-repeat="keyword in experience.keywords") {{keyword}}
                    
                p.summary.text-justify {{experience.summary}}

article.l-article
    header
        h2(data-ng-i18next="about.skills.title")
        p.subtitle(data-ng-i18next="about.skills.subtitle")
    section.l-section.l-section-skills(data-ng-hide="!skills")
        div(data-ng-repeat="category in skills")
            h3(data-ng-bind="category.name")
            ul
                li.skill(data-ng-repeat="skill in category.items")
                    div.progress
                        div.progress-background(ng-style="{'width': skill.score + '%'}")
                        div.progress-content.vertical-horizontal-center
                            div.progress-content-name(data-ng-bind="skill.name")
                            div.progress-content-value {{skill.score}}%