view-title(data-ng-i18next="view.about.meta.title")
meta(data-view-head name="description" data-ng-i18next="[content]view.about.meta.description")
meta(data-view-head property="og:description" data-ng-i18next="[article]view.about.meta.description")

div(data-ng-init="initialize()")
    include ./part/about/_header.jade
    include ./part/about/_nav.jade
    include ./part/about/section/_education.jade
    include ./part/about/section/_experience.jade
    include ./part/about/section/_skills.jade
    include ./part/about/section/_hobbies.jade
    include ./part/_scroll_up.jade
