// The MIT License (MIT)
// 
// Copyright (c) 2015 Cyril Schumacher.fr
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

header.l-header.no-selection(data-ng-init="init()")
    div.l-header-wrapper(data-ng-fade-by-scroll data-percentage="25" data-element=".l-header-wrapper .container")
        div.container
            h1(data-view-title data-ng-i18next="about.about")
            p.description(data-ng-i18next="about.find_who_am_i")

article.l-article
    header
        h2(data-ng-i18next="about.presentation")
        p.subtitle(data-ng-i18next="about.let_me_introduce_myself")
    section.l-section.l-section-presentation
        div.presentation
            div.presentation-photo
                p
                    img(alt="{{profile.photo.title}}" src="{{profile.photo.url}}")
            div.presentation-description
                p.text-justify {{profile.description}}

article.l-article
    header
        h2(data-ng-i18next="about.education.title")
        p.subtitle(data-ng-i18next="about.education.subtitle")
    section.l-section.l-section-education.timeline(data-ng-hide="!schools")
        div.timeline-block(data-ng-repeat="school in schools")
            div.timeline-block-icon(itemscope itemtype="http://schema.org/School")
                div.icon
                    time.vertical-horizontal-center(datetime="{{school.period.start}}") {{school.period.start | date:'yyyy'}}
            div.timeline-block-content
                h3(itemprop="name") {{school.name}}
                ul.formation-degrees(itemprop="description")
                    li(data-ng-repeat="degree in school.degrees") {{degree}}

article.l-article
    header
        h2(data-ng-i18next="about.experience.title")
        p.subtitle(data-ng-i18next="about.experience.subtitle")
    section.l-section.l-section-experience(data-ng-hide="!companies")
        div.company(data-ng-repeat="company in companies")
            div.company-details
                ul(itemscope itemtype="http://schema.org/Corporation")
                    li
                        div.company-details-properties
                            div.icon.vertical-horizontal-center
                                i.fa.fa-building-o
                            div.information.vertical-horizontal-center
                                span(itemprop="name") {{company.company.name}}
                    li
                        div.company-details-properties
                            div.icon.vertical-horizontal-center
                                    i.fa.fa-location-arrow
                            div.information.vertical-horizontal-center
                                div(itemprop="address")
                                    span(itemprop="addressLocality") {{company.company.location.address.city}},
                                    span(itemprop="addressRegion") {{company.company.location.address.countryRegion}}
                    li
                        div.company-details-properties
                            div.icon.vertical-horizontal-center
                                i.fa.fa-calendar
                            div.information.vertical-horizontal-center
                                time(datetime="{{company.period.start}}") {{company.period.start | date:'MMMM yyyy'}}
                                span.separator -
                                time(datetime="{{company.period.end}}") {{company.period.end | date:'MMMM yyyy'}}
            div.company-information
                h3 {{company.name}}
                p.summary.text-justify {{company.summary}}

article.l-article
    header
        h2(data-ng-i18next="about.skills.title")
        p.subtitle(data-ng-i18next="about.skills.subtitle")
    section.l-section.l-section-skills(data-ng-hide="!skills")
        ul
            li.skill(data-ng-repeat="skill in skills")
                div.progress
                    div.progress-background(ng-style="{'width': skill.score + '%'}")
                    div.progress-content.vertical-horizontal-center
                        div.progress-content-name {{skill.name}}
                        div.progress-content-value {{skill.score}}%