view-title(data-ng-i18next="view.contact.meta.title")
meta(data-view-head name="description" data-ng-i18next="[content]view.contact.meta.description")
meta(data-view-head property="og:description" data-ng-i18next="[article]view.contact.meta.description")

header.l-header.l-header--contact(role="banner" itemscope itemtype="http://schema.org/WPHeader")
    .l-header__wrapper.l-header.l-header--contact__wrapper
        .l-header__wrapper__background.l-header--contact__wrapper__background
        .l-header__wrapper__content.l-header--contact__wrapper__content
            h1(data-ng-i18next="[html]view.contact.many_routes")
            p.l-header__wrapper__content__subtitle.l-header--contact__wrapper__content__subtitle(data-ng-i18next="view.contact.for_questions")
            
include ./part/contact/_online.jade
