header.l-header.l-header--home(data-full-height-window role="banner" itemscope itemtype="http://schema.org/WPHeader")
    .l-header__wrapper.l-header--home__wrapper
        .l-header__wrapper__background.l-header--home__wrapper__background
            div(data-canvas-particles-waves)
        .l-header__wrapper__content.l-header--home__wrapper__content
            img.l-header--home__wrapper__content__me(src="/content/image/me.jpg")
            h1.l-header--home__wrapper__content__title Cyril Schumacher
            p.l-header__wrapper__content__subtitle.l-header--home__wrapper__content__subtitle un développeur qui touche à tout
            p
                button.l-header--home__wrapper__content__discover-skills.btn.btn-1.btn-1b(data-ng-click="navigateTo(language + '/about')")
                    span(data-ng-i18next="view.home.discover_skills")
                    span.l-header--home__wrapper__content__discover-skills__icon.ion-chevron-right
