view-title(data-ng-i18next="view.works.meta.title")
meta(data-view-head name="description" data-ng-i18next="[content]view.works.meta.description")
meta(data-view-head property="og:description" data-ng-i18next="[article]view.works.meta.description")

div(data-ng-init="initialize()")
    include ./part/works/_header.jade
    include ./part/works/_projects.jade
    
