.l-footer {
    background: $dark-primary-color;
    color: $dark-secondary-color;
    position: relative;
    width: inherit;
    z-index: 2;
    
    .container {
        margin: 0 auto;
        padding: 3rem 0;
        height: 50%;
        width: 80%;
        
        .social-network, .copyright {
            display: table;
            height: 5rem;
        }
        
        .social-network {
            .social-icons {
                display: table-cell;
                vertical-align: middle;
                float: right;
                
                .social-icon {
                    display: inline-block;
                    padding: 0 .5rem;
                    position: relative;
                    text-align: center;
                            
                    a {
                        &:link, &:visited { color: $dark-secondary-color }

                        &:hover, &:focus {
                            .fa, .name { color: #fff }
                            .name { width: 60px !important }
                        }
                        
                        .fa { padding: 0 .6rem }

                        .name {
                            display: inline-block;
                            overflow: hidden;
                            @include transition(all 350ms ease-out);
                            width: 0 !important;
                        }
                    }
                    
                    .twitter {
                        &:hover, &:focus {
                            background: $bc-twitter;
                            border-color: $bc-twitter;
                        }
                    }

                    .linkedin {
                        &:hover, &:focus {
                            background: $bc-linkedin;
                            border-color: $bc-linkedin;
                        }
                    }

                    .github {
                        &:hover, &:focus {
                            background: $bc-github;
                            border-color: $bc-github;
                        }
                    }
                }
            }
        }
        
        .copyright {
            p {
                display: table-cell;
                height: 50%;
                vertical-align: middle;
            }
        }
    }
}