*,
*:after,
*::before {
    @include box-sizing(border-box);
}

.bt-menu {
    @include transition(border-width .3s, background .3s, height 0s .3s);
    background: #000;
    border: 0 solid $material_design_black;
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &-trigger {
        display: block;
        height: 5rem;
        position: absolute;
        right: 4rem;
        top: 2rem;
        width: 4rem;
        z-index: 100;

        span {
            @include transition(background .3s);
            @include user-select(none);
            background: #fff;
            display: block;
            height: 8%;
            font-size: 0;
            left: 0;
            position: absolute;
            top: 50%;
            width: 100%;

            &:before,
            &:after {
                @include transition(transform .3s, background .3s);
                background: #fff;
                content: '';
                height: 100%;
                position: absolute;
                left: 0;
                width: 100%;
            }

            &:before {
                @include transform(translateY(-250%));
            }

            &:after {
                @include transform(translateY(250%));
            }
        }
    }
}

.bt-menu.bt-menu-open {
    @include transition(border-width .3s, background .3s);
    background: rgba(0, 0, 0, .3);
    border-width: 30px 30px 90px 30px;
    height: 100%;
    z-index: 10;

    .bt-overlay {
        height: 100%;
    }
}

.bt-overlay {
    position: absolute;
    width: 100%;
}

.bt-menu-open .bt-menu-trigger span {
    @include opacity(.5);
    &:before {
        @include transform(translateY(-350%));
    }
    &:after {
        @include transform(translateY(350%));
    }
}

.bt-menu ul {
    @include transition(height 0s .3s);
    bottom: 0;
    height: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    list-style: none;
    text-align: center;
    white-space: nowrap;

    li {
        @include opacity(0);
        @include transform(translate3d(0, 100%, 0));
        @include transition(transform .3s, opacity .3s);
        display: inline-block;
        margin: 0 2%;
        width: auto;
        height: 90px;
        line-height: 90px;
        text-align: center;
    }
}

.bt-menu.bt-menu-open ul {
    @include transition(none);
    height: auto;

    li {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
        &:first-child,
        &:last-child {
            @include transition-delay(.15s);
        }
    }
}

.bt-menu.bt-menu-open ul li:nth-child(2),
.bt-menu.bt-menu-open ul li:nth-last-child(2) {
    @include transition-delay(.1s);
}

.bt-menu.bt-menu-open ul li:nth-child(3),
.bt-menu.bt-menu-open ul li:nth-last-child(3) {
    @include transition-delay(.05s);
}

.bt-menu ul li a {
    @include transition(color .2s);
    color: #fff;
    display: block;
    font-size: 1.15em;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;

    &:before {
        display: none;
        font-size: 32px;
    }

    &:hover,
    &:focus {
        @include opacity(.5);
    }
}

@media screen and (max-width: 65.1em) {
    .bt-menu ul li a {
        font-size: 90%;
    }
}

@media screen and (max-width: 55.5em) {
    .bt-menu ul li {
        margin: 0 15px;
    }

    .bt-menu ul li a:before {
        display: block;
    }
}

@media screen and (max-width: 32em) {
    .bt-menu-trigger {
        margin-left: -20px;
        width: 40px;
    }

    .bt-menu ul li {
        margin: 0 2%;
    }

    .bt-menu ul li a:before {
        font-size: 24px;
    }
}
