[ng\:cloak].loading,
[ng-cloak].loading,
[data-ng-cloak].loading {
    display: block;
}

.loading {
    background: #fff;
    display: none;
    height: inherit;
    position: fixed;
    right: 0;
    top: 0;
    width: inherit;
    z-index: 10;

    &__wrapper {
        bottom: 0;
        height: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;

        :not(:required).timer-loader::after,
        :not(:required).timer-loader::before {
            background: $material-design-gray;
        }

         :not(:required).timer-loader {
            border-color: $material-design-gray;
        }
    }
}
