section#experience.l-section.l-section--about
	header.l-section__header.l-section--about__header
		.icon
			i.icon__content.ion-ios-flask-outline
		h2(data-ng-i18next="view.about.experience.title")
		p.subtitle(data-ng-i18next="view.about.experience.subtitle")
	section
		.loading.gauge-loader(data-ng-hide="!experience.inProgress")
		#cd-timeline.cd-container(data-ng-hide="experience.inProgress || experience.hasError")
			.cd-timeline-block(data-ng-repeat="company in experience.data | orderBy: 'period.start':true")
				.cd-timeline-img
					span(data-ng-bind="company.period.end | date:'yyyy'")
				.cd-timeline-content(itemscope itemtype="http://schema.org/Organization")
					header
						h3(data-ng-bind="company.name")
					section
						p(data-ng-bind="company.summary[language]")
					footer(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
						.post-tag
							span(data-ng-i18next="view.about.from")
							time(datetime="{{company.period.start}}" data-ng-bind="company.period.start | date:'MMMM yyyy'")
							span(data-ng-hide="!company.period.end" data-ng-i18next="view.about.to")
							time(data-ng-hide="!company.period.end" datetime="{{company.period.end}}" data-ng-bind="company.period.end | date:'MMMM yyyy'")
						.post-tag
							span(data-ng-bind="company.location.address.addressLine" itemprop="streetAddress")
						.post-tag
							span(data-ng-bind="company.location.address.city" itemprop="addressLocality")
						.post-tag
							span(data-ng-bind="company.location.address.countryRegion" itemprop="addressRegion")
	section.error_box(data-ng-hide="!experience.hasError || experience.inProgress")
		.error_box__icon
			i.ion-alert-circled
		.error_box__text
			p(data-ng-i18next="error.resume.experience")
