section#experience.l-section.l-section--about
	header.l-section__header.l-section--about__header
		.icon
			i.icon__content.ion-ios-americanfootball-outline
		h2(data-ng-i18next="view.about.hobbies.title")
		p.subtitle(data-ng-i18next="view.about.hobbies.subtitle")
