/* Material design */
$material_design_black:      #202223;
$material_design_white:      #f8f8f8;
$material_design_light_blue: #3290BE;
$material_design_blue:       #2F6FA1;
$material_design_dark_blue:  #05384C;
$material_design_orange:     #D0834E;
$material_design_gray:       #A6ABB2;
