/* Material design */
/* Base color */
$material_design_black:              #212121;
$material_design_gray:               #A6ABB2;
$material_design_white:              #f8f8f8;

/* Gray */
$material_design_dark_primary_gray:  #616161;
$material_design_primary_gray:       #9E9E9E;
$material_design_light_primary_gray: #F5F5F5;

/* Blue */
$material_design_dark_primary_blue:  #1976D2;
$material_design_primary_blue:       #2196F3;

/* Red */
$material_design_dark_primary_red:   #D32F2F;
$material_design_primary_red:        #F44336;

/* Green */
$material_design_dark_primary_green: #388E3C;
$material_design_primary_green:      #4CAF50;
