doctype html
html(lang="{{language}}" prefix="og:http://ogp.me/ns#")
	head
		meta(charset="utf-8")
		title(data-ng-bind="viewTitle ? viewTitle + ' | Cyril Schumacher' : 'Cyril Schumacher'")

		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="msvalidate.01" content="BD1F594BA412B936EF9573364E3DD353")
		meta(name="google-site-verification" content="Um2PnIeRij_vuWfeGs0zW3J0khKVI-FvX8czxYjrm6k")

		link(rel="shortcut icon" href="/content/image/favicon.ico")
		link(rel="dns-prefetch" href="//www.cyrilschumacher.fr")
		
		link(rel="stylesheet" href="/css/vendor/ionicons.css")
		link(rel="stylesheet" href="/css/vendor/spinners.css")
		link(rel="stylesheet" href="/css/base.css")
		link(rel="shortcut icon" href="/favicon.ico")
		
		base(href="/")
		
		script(src="/javascript/vendor/modernizr.js")

	body(data-status="{{status}}")
		.container
			.wrapper(data-ng-view)

			footer.l-footer(ng-class="{'l-footer--home': viewName == 'home'}" itemscope itemtype="http://schema.org/WPFooter")
				.l-footer__copyright
					span Copyright © 2015 Cyril Schumacher

				.l-footer__sitemap
					ul.l-footer__sitemap__items
						li
							a(data-ng-i18next="navigation.home" href="/{{language}}/")
						li
							a(data-ng-i18next="navigation.about" href="/{{language}}/about")
						li
							a(data-ng-i18next="navigation.works" href="/{{language}}/works")
						li
							a(data-ng-i18next="navigation.contact" href="/{{language}}/contact")
			
				ul.l-footer__social_network
					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(href="http://www.github.com/CyrilSchumacher")
							.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--github
								span.ion-social-github
							span.l-footer__social_network__item__link__title GitHub

					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(href="http://fr.linkedin.com/in/CyrilSchumacher")
							.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--linkedin
								span.ion-social-linkedin
							span.l-footer__social_network__item__link__title Linkedin

					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(href="http://www.twitter.com/CyrilSchumacher")
							.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--twitter
								span.ion-social-twitter
							span.l-footer__social_network__item__link__title Twitter

			nav#bt-menu.l-nav.bt-menu(lang="fr" itemscope itemtype="http://schema.org/SiteNavigationElement")
				a.bt-menu-trigger(href="#")
					span Menu
				ul
					li
						a(data-ng-i18next="navigation.home" href="/{{language}}/")
					li
						a(data-ng-i18next="navigation.about" href="/{{language}}/about")
					li
						a(data-ng-i18next="navigation.works" href="/{{language}}/works")
					li
						a(data-ng-i18next="navigation.contact" href="/{{language}}/contact")

		.loading(data-ng-cloak)
			.loading__wrapper
				.gauge-loader

		script(data-main="/javascript/main.js" src="/javascript/vendor/require.js")
