// The MIT License (MIT)
// 
// Copyright (c) 2014 Cyril Schumacher.fr
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

doctype html
html(lang="fr" prefix="og:http://ogp.me/ns#")
    head
        meta(charset="utf-8")
        title(data-ng-bind="viewTitle ? viewTitle + ' - Persona' : 'Persona'")

        meta(name="description" content="{{head.meta.description}}")
        meta(name="keywords" content="{{head.meta.keywords}}")
        meta(name="robots" content="{{head.meta.robots}}")
        
        meta(name="fragment" content="!")
        
        meta(name="msvalidate.01" content="BD1F594BA412B936EF9573364E3DD353")
        meta(name="google-site-verification" content="Um2PnIeRij_vuWfeGs0zW3J0khKVI-FvX8czxYjrm6k")

        meta(property="og:title" content="")
        meta(property="og:type" content="")
        meta(property="og:url" content="")
        
        base(href="/")

    body(data-status="{{status}}")
        input#drawer-toggle(type="checkbox" name="drawer-toggle")
        label#drawer-toggle-label.no-selection(for="drawer-toggle")

        section.l-main(data-ng-view)

        div.route-loading(data-ng-hide="!isLoading")
            span
                i.fa.fa-circle-o-notch
            span(data-ng-i18next="loading")

        nav.l-nav(role="navigation" lang="fr" itemscope itemtype="http://schema.org/SiteNavigationElement")
            div.l-nav__content.vertical-horizontal-center
                ul
                    li
                        h2 Menu
                    li 
                        a.l-nav__content__item.nav-item-home(href="/#!/")
                            span.l-nav__content__item__icon
                                i.vertical-horizontal-center.iconicfill-home
                            span(data-ng-i18next="common.nav.home") 
                    li
                        a.l-nav__content__item.nav-item-about(href="/#!/about")
                            span.l-nav__content__item__icon
                                i.vertical-horizontal-center.iconicfill-folder-fill
                            span(data-ng-i18next="common.nav.about") 
                    li
                        a.l-nav__content__item.nav-item-works(href="/#!/works")
                            span.l-nav__content__item__icon
                                i.vertical-horizontal-center.iconicfill-paperclip
                            span(data-ng-i18next="common.nav.works") 
                    li
                        a.l-nav__content__item.nav-item-contact(href="/#!/contact")
                            span.l-nav__content__item__icon
                                i.vertical-horizontal-center.iconicfill-map-pin-alt
                            span(data-ng-i18next="common.nav.contact")

        footer.l-footer.no-selection(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter")
            div.l-footer__container
                section.l-footer__container__left
                    ul
                        li.l-footer__container__left__link
                            a(href="/#!/" data-ng-i18next="common.nav.home")
                        li.l-footer__container__left__link
                            a(href="/#!/about" data-ng-i18next="common.nav.about")
                        li.l-footer__container__left__link
                            a(href="/#!/works" data-ng-i18next="common.nav.works")
                        li.l-footer__container__left__link
                            a(href="/#!/contact" data-ng-i18next="common.nav.contact")
                                
                    p © 
                        span(itemprop="copyrightYear") 2015 
                        span(itemprop="copyrightHolder") Cyril Schumacher. 
                        span(data-ng-i18next="common.footer.all_right_reserved")

                section.l-footer__container__right
                    ul.l-footer__container__right__social-icons
                        li.l-footer__container__right__social-icons__item
                            a.github.button(rel="external" href="https://github.com/cyrilschumacher" data-ng-i18next="[title]common.footer.go_to_github")
                                i.button-text.fa.fa-github
                                span.button-text.name GitHub
                        li.l-footer__container__right__social-icons__item
                            a.linkedin.button(rel="external" href="http://www.linkedin.com/in/cyrilschumacher" data-ng-i18next="[title]common.footer.go_to_linkedin")
                                i.button-text.fa.fa-linkedin
                                span.button-text.name Linkedin
                        li.l-footer__container__right__social-icons__item
                            a.twitter.button(rel="external" href="http://www.twitter.com/CyrilSchumacher" data-ng-i18next="[title]common.footer.go_to_twitter")
                                i.button-text.fa.fa-twitter
                                span.button-text.name Twitter

        script(data-main="scripts/main.js" src="/scripts/vendor/requirejs/require.js")
        script(src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0")
