doctype html
html(lang="{{language}}" prefix="og:http://ogp.me/ns#")
	head
		meta(charset="utf-8")
		title(data-ng-bind="viewTitle ? viewTitle + ' | Cyril Schumacher' : 'Cyril Schumacher'")

		meta(name="description" content="{{viewDescription}}")
		meta(property="og:title" content="")
		meta(property="og:type" content="")
		meta(property="og:url" content="")
		meta(property="og:image" content="")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="msvalidate.01" content="BD1F594BA412B936EF9573364E3DD353")
		meta(name="google-site-verification" content="Um2PnIeRij_vuWfeGs0zW3J0khKVI-FvX8czxYjrm6k")

		link(href="/content/image/favicon.ico" rel="shortcut icon")
		link(rel="stylesheet" href="/css/vendor/ionicons.css")
		link(rel="stylesheet" href="/css/vendor/spinners.css")
		link(rel="stylesheet" href="/css/base.css")
		link(rel="shortcut icon" href="/favicon.ico")

		base(href="/")

	body(data-status="{{status}}")
		.container
			.wrapper(data-ng-view)

			footer.l-footer(itemscope itemtype="http://schema.org/WPFooter")
				ul.l-footer__social_network
					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(href="http://www.github.com/CyrilSchumacher")
							.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--github
								span.ion-social-github-outline

					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(href="http://fr.linkedin.com/in/CyrilSchumacher")
							div.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--linkedin
								span.ion-social-linkedin-outline

					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(href="http://www.twitter.com/CyrilSchumacher")
							.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--twitter
								span.ion-social-twitter-outline

				p.l-footer__copyright Copyright © 2015 Cyril Schumacher
				p.l-footer__scroll-up
					a.l-footer__scroll-up__link
						span.l-footer__scroll-up__link__icon.ion-chevron-up

			nav#bt-menu.bt-menu(lang="fr" itemscope itemtype="http://schema.org/SiteNavigationElement")
				a.bt-menu-trigger(href="#")
					span Menu
				ul
					li
						a(data-ng-i18next="navigation.home" href="/{{language}}/")
					li
						a(data-ng-i18next="navigation.about" href="/{{language}}/about")
					li
						a(data-ng-i18next="navigation.works" href="/{{language}}/works")
					li
						a(data-ng-i18next="navigation.contact" href="/{{language}}/contact")

		.loading(data-ng-cloak)
			.loading__wrapper
				.gauge-loader

		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		script(type="text/javascript" src="/javascript/vendor/borderMenu.js")
		script(type="text/javascript" src="/javascript/vendor/classie.js")
		script(data-main="/javascript/main.js" src="/javascript/vendor/require.js")
