doctype html
html(lang="{{language}}" prefix="og:http://ogp.me/ns#")
	head
		meta(charset="utf-8")
		title(data-ng-bind="viewTitle ? viewTitle + ' | Cyril Schumacher' : 'Cyril Schumacher'")

		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="msvalidate.01" content="BD1F594BA412B936EF9573364E3DD353")
		meta(name="google-site-verification" content="Um2PnIeRij_vuWfeGs0zW3J0khKVI-FvX8czxYjrm6k")
		
		meta(property="og:title" content="{{viewTitle}}")
		meta(property="og:site_name" content="Cyril Schumacher")
		meta(property="og:type" content="website")
		meta(property="og:image" content="/content/image/me.jpg")
		meta(property="og:locale" content="{{language}}")
		meta(property="og:locale:alternate" content="fr")
		meta(property="og:locale:alternate" content="en")
		meta(property="og:url" content="{{currentPath}}")
		
		meta(http-equiv="content-language" content="fr,en")

		link(rel="shortcut icon" href="/content/image/favicon.ico")
		link(rel="dns-prefetch" href="//www.cyrilschumacher.fr")
		
		link(rel="alternate" hreflang="fr" href="//www.cyrilschumacher.fr/fr")
		link(rel="alternate" hreflang="en" href="//www.cyrilschumacher.fr/en")

		link(rel="stylesheet" href="/css/vendor/ionicons.css")
		link(rel="stylesheet" href="/css/vendor/spinners.css")
		link(rel="stylesheet" href="/css/vendor/animate.css")
		link(rel="stylesheet" href="/css/base.css")

		link(rel="shortcut icon" href="/favicon.ico")
		
		base(href="/")

	body(data-status="{{status}}")
		.hamburger#hamburger
			i.ion-android-menu

		nav.l-nav(lang="{{language}}" itemscope itemtype="http://schema.org/SiteNavigationElement")
			button.l-nav__close#close-hamburger
				span.l-nav__close__label Close
				span.l-nav__close__icon.ion-ios-close-empty
			.l-nav__wrapper
				header.l-nav__header
					img.l-nav__header__me(alt="Cyril Schumacher" src="/content/image/me.jpg")
					span.l-nav__header__title Cyril Schumacher
					span.l-nav__header__subtitle(data-ng-i18next="view.home.student")
				ul.l-nav__menu
					li.l-nav__menu__item
						a.l-nav__menu__item__link(itemprop="url" href="/{{language ? language + '/' : ''}}" data-ng-i18next="[title]navigation.home")
							span.l-nav__menu__item__link__icon.ion-ios-home-outline
							span.l-nav__menu__item__link__label(data-ng-i18next="[title]navigation.home;navigation.home")
							span.l-nav__menu__item__link__arrow.ion-ios-arrow-right
						div.l-nav__menu__item__separator
					li.l-nav__menu__item
						a.l-nav__menu__item__link(itemprop="url" href="/{{language ? language + '/' : ''}}about" data-ng-i18next="[title]navigation.about")
							span.l-nav__menu__item__link__icon.ion-ios-person-outline
							span.l-nav__menu__item__link__label(data-ng-i18next="[title]navigation.about;navigation.about")
							span.l-nav__menu__item__link__arrow.ion-ios-arrow-right
						div.l-nav__menu__item__separator
					li.l-nav__menu__item
						a.l-nav__menu__item__link(itemprop="url" href="/{{language ? language + '/' : ''}}works" data-ng-i18next="[title]navigation.works")
							span.l-nav__menu__item__link__icon.ion-ios-flask-outline
							span.l-nav__menu__item__link__label(data-ng-i18next="[title]navigation.works;navigation.works")
							span.l-nav__menu__item__link__arrow.ion-ios-arrow-right
						div.l-nav__menu__item__separator
					li.l-nav__menu__item
						a.l-nav__menu__item__link(itemprop="url" href="/{{language ? language + '/' : ''}}contact" data-ng-i18next="[title]navigation.contact")
							span.l-nav__menu__item__link__icon.ion-ios-email-outline
							span.l-nav__menu__item__link__label(data-ng-i18next="[title]navigation.contact;navigation.contact")
							span.l-nav__menu__item__link__arrow.ion-ios-arrow-right
						div.l-nav__menu__item__separator
			
		#top.container.ng-hide(data-ng-hide="status != 'ready'")
			.wrapper(data-ng-view)

			footer.l-footer(ng-class="{'l-footer--home': viewName == 'home'}" itemscope itemtype="http://schema.org/WPFooter")
				.l-footer__copyright
					span Copyright © 
					span(itemprop="copyrightYear") 2016 
					span(itemprop="copyrightHolder") Cyril Schumacher

				.l-footer__sitemap
					ul.l-footer__sitemap__items
						li
							a(data-ng-i18next="[title]navigation.home;navigation.home" data-ng-href="/{{language}}")
						li
							a(data-ng-i18next="[title]navigation.about;navigation.about" data-ng-href="/{{language ? language + '/' : ''}}about")
						li
							a(data-ng-i18next="[title]navigation.works;navigation.works" data-ng-href="/{{language ? language + '/' : ''}}works")
						li
							a(data-ng-i18next="[title]navigation.contact;navigation.contact" data-ng-href="/{{language ? language + '/' : ''}}contact")
			
				ul.l-footer__social_network
					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(title="GitHub" href="http://www.github.com/CyrilSchumacher")
							.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--github
								span.ion-social-github
							span.l-footer__social_network__item__link__title GitHub

					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(title="Linkedin" href="http://fr.linkedin.com/in/CyrilSchumacher")
							.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--linkedin
								span.ion-social-linkedin
							span.l-footer__social_network__item__link__title Linkedin

					li.l-footer__social_network__item
						a.l-footer__social_network__item__link(title="Twitter" href="http://www.twitter.com/CyrilSchumacher")
							.l-footer__social_network__item__link__icon.l-footer__social_network__item__link__icon--twitter
								span.ion-social-twitter
							span.l-footer__social_network__item__link__title Twitter
							
		.loading(data-ng-cloak)
			.loading__wrapper
				.timer-loader

		script(async data-main="/javascript/main.js" src="/javascript/vendor/require.js")
		script(type="text/javascript" src="/javascript/menu.js")
