// The MIT License (MIT)
// 
// Copyright (c) 2014 Cyril Schumacher.fr
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// Mixins.
mixin menuItem(className, labelName, url)
    li(itemprop="url")
        a.button(class=className, href=url itemprop="name" rel="prerender")
            span.button-text(ng-i18next=labelName) 

// Content.
doctype html
html(lang="fr" prefix="og:http://ogp.me/ns#")
    head
        meta(charset="utf-8")
        title Persona
        
        meta(name="description" content="")
        meta(name="robots" content="")
        meta(name="msvalidate.01" content="BD1F594BA412B936EF9573364E3DD353")
        meta(name="google-site-verification" content="Um2PnIeRij_vuWfeGs0zW3J0khKVI-FvX8czxYjrm6k")
        
        meta(property="og:title" content="")
        meta(property="og:type" content="")
        meta(property="og:url" content="")
        
        link(href="stylesheets/style.css", rel="stylesheet")
        link(href="stylesheets/vendors/bootstrap/dist/bootstrap.min.css", rel="stylesheet")
        
        script(scr="scripts/vendors/modernizr/modernizr.js")

    body
        nav.l-nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation" lang="fr" arial-label="Main Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement")
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-items")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                        
                div#navbar-items.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        +menuItem("nav-item-home", "common.nav.home", "/")                                
                        +menuItem("nav-item-about", "common.nav.about", "#/about")                                
                        +menuItem("nav-item-works", "common.nav.works", "#/works")                                
                        +menuItem("nav-item-contact", "common.nav.contact", "#/contact")
        
        section.l-main(ng-view)
                    
        footer.l-footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter")
            div.container.row
                section.footer-left.col-xs-6
                    div.links
                        ul
                            li
                                a(href="/" ng-i18next="common.nav.home")
                            li
                                a(href="#about" ng-i18next="common.nav.about")
                            li
                                a(href="#works" ng-i18next="common.nav.works")
                            li
                                a(href="#contact" ng-i18next="common.nav.contact")
                                
                    p.copyright © 
                        span(itemprop="copyrightYear") 2012-2015 
                        span(itemprop="copyrightHolder") Cyril Schumacher. 
                        span(ng-i18next="common.footer.all_right_reserved")

                section.footer-right.col-xs-6
                    ul.social-icons
                        li.social-icon
                            a.github.button(rel="external" title="GitHub" href="https://github.com/cyrilschumacher")
                                i.button-text.fa.fa-github
                                span.button-text.name GitHub
                        li.social-icon
                            a.linkedin.button(rel="external" title="Linkedin" href="http://www.linkedin.com/in/cyrilschumacher")
                                i.button-text.fa.fa-linkedin
                                span.button-text.name Linkedin
                        li.social-icon
                            a.twitter.button(rel="external" title="Twitter" href="http://www.twitter.com/CyrilSchumacher")
                                i.button-text.fa.fa-twitter
                                span.button-text.name Twitter

        script(data-main="scripts/main.js" src="/scripts/vendors/requirejs/require.js")
        script(src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0")