@charset "utf-8";

/* Compass. */
@import "compass/css3";

/* Tools. */
@import "tools/_brandcolors";
@import "tools/_colors";
@import "tools/_fonts";
@import "tools/_variables";

.nav-item-about {
    border-color: #fff !important;
    cursor: default;
    
    &:hover, &:focus { background: none }
}

.l-header-background {
    background: $grapefruit-primary-color;
    z-index: 1;
}

.l-header-wrapper {
    color: #fff;
    z-index: 2;
}