@import "main";

.nav-item-about {
    border-color: #fff !important;
    cursor: default;
    
    &:hover, &:focus { background: none }
}

.l-header-wrapper {
    background: $grapefruit-primary-color;
    color: #fff;
    z-index: 1;
}

.l-section {
    margin: ($margin * 3) auto $margin;
    width: 50%;
    z-index: 2;
    
    header {
        h2 { text-transform: uppercase }
    }
}

.l-section-presentation {
    .my-name { color: $grapefruit-primary-color }
    .resume { height: 25rem; line-height: ($body-font-size * 1.5) }
    img { border: .5rem solid $light-primary-color; height: 25rem }
    
    ul {
        list-style: square;
        margin: $margin 0 0 ($margin * 3);
    }
}

.l-section-education {  
    &:before { background: $grapefruit-primary-color }
    
    .timeline-block {
        &:first-child {
            .timeline-block-icon {
                background: $grapefruit-primary-color !important;
                color: $light-primary-color;
            }
            
            .timeline-block-content {
                background: $grapefruit-primary-color !important;
                border: none;
                color: $light-primary-color;

                &:before {
                    border-left-color: $grapefruit-primary-color;
                    border-right-color: transparent;
                }
            }
        }
        
        &:nth-child(even) {
            .timeline-block-content {
                &:before {
                    border-right-color: $light-primary-color;
                    left: auto;
                    right: 100%;
                    top: 24px;
                }
                
                &:hover {
                    &:before {
                        border-left-color: transparent; 
                        border-right-color: $grapefruit-primary-color;
                    }
                }
            }
        }
    }
        
    .timeline-block-icon {
        background: $light-secondary-color;
        border: 3px solid $grapefruit-primary-color;
        color: $grapefruit-secondary-color;
        height: 50px;
        margin: 15px -25px;
        width: 50px;

        .icon { font-size: $h4-font-size }
    }

    .timeline-block-content {
        border: 1px solid $light-primary-color;
        color: $light-primary-color;
        text-align: left;

        &:before { border-left-color: $light-primary-color }
                
        &:hover {
            border-color: $grapefruit-primary-color;
            color: $grapefruit-primary-color;
            @include transition($timing-fast border, color);

            &:before {  border-left-color: $grapefruit-primary-color }
            &:hover { border-color: $grapefruit-primary-color }
        }
    }
}

.l-section-experience {
    h3 { color: $grapefruit-primary-color }
    
    .company {
        padding: 4rem 0 1rem;
        
        .properties {
            border: 1px solid $light-primary-color;
            margin: 0 0 .5rem;
            padding: .8rem 0;
            
            .information, .icon { height: 3rem; text-align: left }
            .information { color: $grapefruit-primary-color; @include justify-content(flex-start) }
            
            .icon {
                background: $grapefruit-primary-color;
                width: 3rem;
                
                .fa { color: #fff }
            }
        }
        
        .summary { border-left: 1rem solid $light-primary-color; padding: 0 0 0 1rem }
    }
}

.l-section-skills {
    ul { text-align: left }
    
    .skill {
        display: inline-block;
        margin: 0 $margin;
        vertical-align: top;
        width: 22%;
    }
    
    .progress {
        border: 1px solid $grapefruit-primary-color;
        @include border-radius(0);
        @include box-shadow(none);
        height: 2rem;
        position: relative;
        width: 100%;
        word-wrap: break-word;
        
        &-background, &-content { height: inherit }
        &-background { background: $grapefruit-primary-color; position: absolute }
        
        &-content {
            color: $light-secondary-color;
            position: absolute;
            overflow: hidden;
            width: 100%;
        }
    }
}