@charset "utf-8";
@import "main";

.nav-item-contact {
    border-color: #fff !important;
    cursor: default;
    
    &:hover, &:focus { background: none }
}

.l-header-wrapper {
    background: $grass-primary-color;
    color: #fff;
    z-index: 1;
}

.l-section {
    z-index: 2;
    
    header {
        h2 { text-transform: uppercase }
    }
}

.map-section {
    height: 75rem;
    padding-left: 0;
    padding-right: 0;
    
    #map {
        border: 1px solid $light-primary-color;
        height: 50rem;
        margin: 2rem auto;
        position: relative;
        width: 100%;
    }
}

.form-section {
    header {
        margin: 0 0 3rem;
    }
    
    form {
        margin: 2rem auto;
        max-width: 640px;
        text-align: left;
        width: 100%;
        
        p { text-align: center }
        
        .input-required { color: $grass-primary-color }
        
        input, textarea {
            background: none;
            display: block;
            margin: .5rem auto;
            width: 100%;
                
            &:active, &:focus {
                border-color: $grass-primary-color;
                background: #f0f0f0;
            }
        }
        
        button[type="submit"] {
            border: 1px solid transparent;
            @include transition(background, border, color 250ms);
            
            &:enabled {
                background: $grass-primary-color;
                color: #fff;
                
                &:hover {
                    @include transition(background, color 150ms);
                    background: transparent;
                    border-color: $grass-primary-color;
                    color: $grass-primary-color;
                }
            }
            
            &:disabled {
                background: transparent;
                border-color: $medium-gray-primary-color;
                color: $medium-gray-secondary-color;
            }
        }
        
        input:active + .field-information,
        input:focus + .field-information, {
            transform: scaleY(1);
            height: auto;
            margin: 5px 0 2rem;
        }
        
        textarea {
            max-height: 200px;
            @include transition(height 200ms);
        }
        
        .field-information {
            display: inline-block;
            background: $grass-primary-color;
            color: #fff;
            padding: 1rem 2rem;
            position: relative;
            transform: scaleY(0);
            transform-origin: 50% 0;
            height: 0;
            transition: all 250ms ease;
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: 100%;
                width: 0;
                height: 0;
                border-color: transparent transparent $grass-primary-color transparent;
                border-style: solid;
                border-width: 10px;
            }
        }
    }
}

.annexe-form-section {
    .button {
        background: $grass-primary-color;
        border: 1px solid $grass-primary-color;
        margin: 1rem auto 5rem;
        
        &:hover {
            background: none;
            
            @include transition(background $timing-fast);
            .button-text { color: $grass-primary-color }
        }
        
        &-text { color: $light-secondary-color; font-weight: normal }
    }
}

.alert {
    background: rgba(0, 0, 0, .75);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    
    &-content {
        background: #fff;
        border: 1px solid #222;
        bottom: 0;
        @include box-shadow(0px 5px 30px 10px rgba(0, 0, 0, .5));
        height: 37rem;
        left: 0;
        margin: auto;
        padding: 2rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 40rem;
        
        header, section {
            text-align: center;
        }
        
        .fa {
            color: $running-color;
            font-size: 15rem;   
        }
        
        .button {
            background: $running-color;
            color: #fff;
            display: inline-block;
            text-align: right;
            margin: 3rem auto 0;
            @include transition(background, color 250ms);
            
            &-text {
                display: block;
                margin: 0 5rem;
            }
            
            &:hover {
                background: transparent;
                border-color: $running-color;
                color: $running-color;
                font-weight: inherit;
            }
        }
    }
}