@charset "utf-8";

/* Compass. */
@import "compass/css3";

/* Tools. */
@import "tools/_brandcolors";
@import "tools/_colors";
@import "tools/_fonts";
@import "tools/_variables";

.nav-item-contact {
    border-color: #fff !important;
    cursor: default;
    
    &:hover, &:focus { background: none }
}

.l-header {
    height: 50rem;
}

.l-header-background {
    background: $grass-primary-color;
    z-index: 1;
}

.l-header-wrapper {
    color: #fff;
    display: table;
    height: inherit;
    position: fixed;
    width: 100%;
    z-index: 2;

    .container {
        height: auto;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 80%;

        h1 {
            display: inline-block;

            .my-name {
                border: 1px solid #fff;
                color: #fff;
                padding: 0 3rem;
                text-transform: uppercase;
                @include transition(all 250ms);
            }
        }

        .description {
            font-size: 3.58rem;
            font-weight: 300;
            margin: 0 0 3rem;
        }
    }
}

.l-section {
    z-index: 2;
    
    header {
        h2 { text-transform: uppercase }
    }
}

.map-section {
    height: 75rem;
    
    #map {
        border: 1px solid $light-primary-color;
        height: 90%;
        margin: 2rem auto;
        position: relative;
        width: 50%;
    }
}

.form-section {
    form {
        margin: 2rem auto;
        text-align: left;
        width: 640px;
        
        p {
            text-align: center;
        }
        
        .input-required {
            color: $grass-primary-color;
            font-weight: 900;
            margin: 0 .3rem;
        }
        
        input, textarea {
            background: none;
            display: block;
            margin: .5rem auto;
            width: 100%;
            
            &:hover { border-color: $grass-primary-color }
    
            &:active, &:focus {
                border-color: $grass-primary-color;
                background: #f0f0f0;
            }
        }
        
        button[type="submit"] { 
            background: $grass-primary-color;
            color: #fff;
        }
        
        input:active + .field-information,
        input:focus + .field-information, {
            transform: scaleY(1);
            height: auto;
            margin: 5px 0 2rem;
        }
        
        textarea {
            max-height: 200px;
            @include transition(height 200ms);
        }
        
        .field-information {
            display: inline-block;
            background: $grass-primary-color;
            color: #fff;
            padding: 1rem 2rem;
            position: relative;
            transform: scaleY(0);
            transform-origin: 50% 0;
            height: 0;
            transition: all 250ms ease;
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: 100%;
                width: 0;
                height: 0;
                border-color: transparent transparent $grass-primary-color transparent;
                border-style: solid;
                border-width: 10px;
            }
        }
    }
}