@charset "utf-8";
@import "main";

@include keyframes(arrow-animation) {
    from { top: 0 }
    to   { top: 10px }
}

.hyphen { background: $dark-primary-color }

.nav-item-home {
    border-color: #fff !important;
    cursor: default;
    
    &:hover, &:focus { background: none }
}

.l-header-background { 
    background: #6F4A21 url(/content/image/home.jpg);
    
    video { height: auto; width: 100% }
}

.l-header-wrapper {
    background: url(/content/image/grid.png);
    color: #fff;

    h1 {
        .my-name {
            border: 1px solid #fff;
            color: #fff;
            padding: 0 3rem;
            @include transition(all 250ms);
        }
    }

    .description {
        @include animation-delay(1.5s);
        margin: 0 0 3rem;
    }
}

.scroll-down {
    @include animation-delay(2.5s);
    margin: 0 auto;

    a {
        @include animation(arrow-animation 500ms infinite ease-in-out alternate);
        @include animation-play-state(running);
        color: #fff !important;
        position: relative;

        &:hover {
            @include animation-play-state(paused);

            .text {
                @include opacity(1);
                @include transform(scale(1));
            }
        } 

        .round-icon {
            border-color: #fff;
            cursor: pointer;
            height: 5rem;
            width: 5rem;
        }

        .text {
            @include opacity(0);
            @include transform(scale(0.90));
            @include transition(all 200ms);
        }
    }
}

.l-article {
    header {
        h2 { text-transform: uppercase }
    }

    section {
        h3 {
            margin: 1.5rem 0 0;
            text-transform: uppercase;
        }
    }
    
    .row {
        display: inline-block;
        margin: 5rem 0 1rem;
        
        .round-icon {
            border-width: 1px;
            border-style: solid;
            height: 15rem;
            margin: 0 auto 3rem;
            position: relative;
            width: 15rem;

            &-text { font-size: 6rem }
        }
    }
}

.about-article {
    .col-xs-4 {
        max-width: 40rem;
        padding: 0 1rem;
        width: 25%;
    }
    
    .round-icon {
        border-color: $grapefruit-primary-color;
        &-text { color: $grapefruit-secondary-color }
    }
}

.works-article {
    background: url(/content/image/subway_lines.png) fixed !important;
    background-size: cover;
    border: none !important;
    padding: 0;
    
    &-wrapper {
        background: rgba(255, 255, 255, .8); 
        height: inherit;
        padding: 4em 2em;
        width: inherit;
    }
    
    .works-items {
        height: 20rem;
        margin: 3rem 0 1rem;
        overflow: hidden;

        .work-item {
            display: inline-block;
            height: inherit;
            margin: .8rem;
            overflow: hidden;
            width: 30rem;

            .work-item-content {
                color: $dark-primary-color;
                position: relative;
                height: inherit;

                &:hover {
                    .work-item-content-info { top: 80% }
                    .work-item-content-thumbnail { bottom: 20% }
                }

                .work-item-content-info {
                    background: $dark-primary-color;
                    color: $light-secondary-color;
                    height: inherit;
                    padding: .5em;
                    position: absolute;
                    top: 100%;
                    @include transition(top 250ms ease-out);
                    width: 100%;

                    .name {
                        display: block;
                        font-size: 1em;
                        text-transform: capitalize;

                        &:after {
                            border: 10px solid;
                            border-color: transparent transparent $dark-primary-color transparent;
                            content: '';
                            display: block;
                            left: 50%;
                            margin-left: -10px;
                            position: absolute;
                            top: -15px;
                        }
                    }
                }

                .work-item-content-thumbnail {
                    bottom: 0;
                    height: inherit;
                    left: 0;
                    position: relative;
                    @include transition(bottom 250ms ease-out);
                    width: inherit;

                    img {
                        height: inherit;
                        width: inherit;
                    }
                }
            }
        }
    }
}

.contact-article {
    .contact-item {
        max-width: 40rem;
        padding: 0 1rem;
    }
    
    .round-icon {
        border-color: $grass-primary-color;
        &-text { color: $grass-secondary-color }
    }
}