@import "main";
@import "base";

.nav-item-home {
    border-color: #fff !important;
    cursor: default;
    
    &:hover, &:focus { background: none }
}

.l-header-background { 
    background: #6F4A21 url(/content/image/home.jpg);
    
    video { height: auto; width: 100% }
}

.l-header-wrapper {
    background: url(/content/image/grid.png);
    color: #fff;

    h1 {
        border: 5px solid #fff;
        color: #fff;
        margin: 0 0 $margin;
        padding: 0 ($margin * 5);
        @include transition(all 250ms);
    }

    .description {
        @include animation-delay(1.5s);
        margin: 0 0 ($margin * 3);
    }
}

.l-footer {
    bottom: 0;
    background: none !important;   
    color: $base-background;
    left: 0;
    position: absolute;
}