@import "main";

.nav-item-home {
    background: $dark-secondary-color;
}

.l-header-background { 
    background: #6F4A21 url(/content/image/home.jpg);
    height:100%;
    overflow: hidden;
    position:absolute;
    width:100%;
    
    video { min-height: 100%; min-width: 100% }
}

.l-header-wrapper {
    background: url(/content/image/grid.png);
    color: #fff;

    h1 {
        border: 5px solid #fff;
        color: #fff;
        margin: 0 0 $margin;
        padding: 0 ($margin * 5);
        @include transition(all $timing-slow);
    }

    .description {
        @include animation-delay(1.5s);
        margin: 0 0 ($margin * 3);
    }
}

.l-footer {
    bottom: 0;
    background: none !important;   
    color: $base-background;
    left: 0;
    position: absolute;
}