@import "colors/_brandcolors";

// Colors.
// Flattastic Pro Color Palette.
$aqua-primary-color:            #3bafda;
$aqua-secondary-color:          #4fc1e9;
$grass-primary-color:           #8cc152;
$grass-secondary-color:         #a0d468;
$lavander-primary-color:        #967adc;
$lavander-secondary-color:      #ac92ec;
$grapefruit-primary-color:      #da4453;
$grapefruit-secondary-color:    #ed5565;

// Stream Status.
$error-color:       #f04747;
$pause-color:       #ebaf3c;
$running-color:     #38b87c;

// Specific colors.
$light-primary-color:       #d0d0d0;
$light-secondary-color:     #e6e6e6;
$dark-primary-color:        #252525;
$dark-secondary-color:      #4d4d4d;