// Custom width size.
$base-border:  2px  !default;
$base-margin:  10px !default;
$base-padding: 10px !default;

// Specific max-width device.
$mobile-device-max-width:           320px;
$small-tablets-device-max-width:    640px;
$tablets-device-max-width:          768px;
$desktop-device-max-width:          1024px;

// Timing.
$timing-fast: 150ms;
$timing-slow: 300ms;

// Margin/Padding.
$margin: 1.2rem;