header.l-header.l-header--works(role="banner" itemscope itemtype="http://schema.org/WPHeader")
    .l-header__wrapper.l-header--works__wrapper
        .l-header__wrapper__background.l-header--works__wrapper__background
        .l-header__wrapper__content.l-header--works__wrapper__content
            h1(data-ng-i18next="view.works.discover_works")
            p.l-header__wrapper__content__subtitle.l-header--works__wrapper__content__subtitle(data-ng-i18next="view.works.works_carried")
